.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
body{
    background-color: #f3f3f3;
    align-content: center;
}
a {
    text-decoration: none;
}
.icon{
    height: 15px;
    width: 15px;
}
.all_content{
    width: 1400px;
    height: 100%; /* высота для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}
.gadget_panel{
    background-color: #ffffff;
    align-content: center;
    height: 320px;
}
.gadget_items{
    width: 730px;
    height: 100%; /* высота для наглядности */
    margin: 30px auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}
.gadget_item{
    float: left;
    margin: 70px 0px 0px 20px;
}
.catalog_panel{
    background-color: #ffffff;
    width: 1310px;
    height: 350px;
    margin: 20px auto;
    text-align: -webkit-center;
}
.catalog_baner{
    width: 100%;
    margin: 0px auto;
}
.catalog_form{
    margin: 20px 0px 0px 0px;
    height: 30px;
}
.catalog_form_left_content{
    float: left;
    text-align: left;
    height: 20px;   
}
.catalog_form_left_content span{
    display: inline-block;
    margin: 0px 0px 0px 15px;
}
.catalog_form_right_content{
    text-align: right;
    height: 50%;
}
.catalog_form_right_content span{
    display: inline-block;
}
.button{
    color: #fff;
    background-color: red;
    padding: 5px 20px;
    border-radius: 4px;
}
.catalog_nav{
    margin: 0px 0px 0px 0px;
    text-align: left;
}
.catalog_nav ul{
    margin: 30px auto;
    padding: 0px 0px 0px 0px;
}
.catalog_nav li{
    display: inline-block;
    list-style: none;
    margin: 0px 0px 0px 15px;
}
.catalog_items{
    background-color: green;
    width: 1310px;
    margin: 10px auto;
    text-align: left;
}
.catalog_item{
    width: 190px;
    display: inline-block;
    margin: 20px 0px 0px 20px;
}
.catalog_item_video{
    height: 200px;
    background-color: lightslategrey;
}
